<h1><%= @pagetitle %></h1>

<% @lans.each do |lan| %>
	<div name="event">
		<b><%= link_to lan.name, lan %></b>
		<%= lan.description.truncate(50) %>
	</div>
<% end %>


<%= will_paginate @lans %>