<h1><%= @pagetitle %></h1>

<% @lans.each do |lan| %>
	<div name="event">
		<b><%= link_to lan.name, lan %></b>
		<%= raw( truncate_html GitHub::Markdown.render_gfm(lan.description), :length => 100) %>
	</div>
<% end %>


<%= will_paginate @lans %>