<h1><%= @pagetitle %></h1>

<% @lans.each do |lan| %>
	<div name="event">
		<b><%= link_to lan.name, lan %></b>
		<%= raw( truncate_html lan.description.truncate(50), :length => 200) %>
	</div>
<% end %>


<%= will_paginate @lans %>