/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.datetimepicker
 */

$background: #393836;
$orange: #e06c1f;
$grey: #5a5a5a;
$white: #ffffff;

body{
    background-color:$background;
    color:           $background;
    border:              0px;
    padding:             0px;
    font-family:        Play;
}

header{
    background-color:   $orange;
    font-family:           Play;
    position:          absolute;
    width:                 100%;
    top:                    0px;
    right:                  0px;
    margin:             auto 0%;
    height:               140px;
    color:              $background;
    font-size:            100px;
    vertical-align: text-bottom;
    line-height:          210px;

}

nav {
    color: $grey;
    font-size:50px;
    position:absolute;
    top:190px;
    right:0px;
    left:20px;
    width: 80%;
    margin-left: 10%;

    :visited, :active, :link {
        color: $grey;
    }

    :visited#active-true, :active#active-true, :link#active-true {
        color: $white;
    }
}

div#wrapper{
    width: 80%;
    background-color: #ffffff;
    padding: 15px;
    //top, right, bottom, left
    margin: auto 10% auto 10%;
    position:absolute;
    top:238px;
    left:0px;
    bottom:0px;
    -webkit-border-radius: 17px 17px 0px 0px;
    -moz-border-radius:    17px 17px 0px 0px;
    border-radius:         17px 17px 0px 0px;
}

footer{
    background-color:#5a5a5a;
    position:absolute;
    bottom:0px;
    right:0px;
    width: 100%;
    color:#393836;
    text-align: center;
}
